<nav>
  <a href="/" style="padding: 0 3px; text-decoration: none;">Home</a>
  <a href="/cats" style="padding: 0 3px; text-decoration: none;">View all cats</a>
  <a href="/cats/new" style="padding: 0 3px; text-decoration: none;">Add cat</a>
</nav>