<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat App</title>
  </head>
  <body>
    <%- include('./partials/nav'); %>
    <h1>Welcome to the Cat App!</h1>
    <p>A home for all your cats</p>
    <a href="/cats/new"></a>
  </body>
</html>
