<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Cat</title>
</head>
<body>
  <%- include('../partials/nav.ejs'); %>
  <h1>Create a new cat!</h1>
  <form action="/cats" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" />

    <label for="favoriteToy">Favorite toy:</label>
    <input type="text" name="favoriteToy" />

    <label for="isHungry">Hungry?</label>
    <input type="checkbox" name="isHungry">

    <button type="submit">Add Cat</button>
  </form>
</body>
</html>